<mat-card
  [ngStyle]="{
    marginBottom: '8px',
    position: 'relative',
    zIndex: 999,
    cursor: 'pointer'
  }"
  (click)="openEditTaskModal()"
  draggable="true"
>
  <mat-card>
    <mat-card-content>
      <p>{{ task.description }}</p>
    </mat-card-content>
    @if (task.imageUrl) {
    <mat-card-content>
      <div>
        <img src="{{ task.imageUrl }}" class="card-image" />
      </div>
    </mat-card-content>
    }

    <mat-card-actions
      style="display: flex; justify-content: flex-end; padding-right: 16px"
    >
      <span><img style="width: 14px; margin-right: 5px;" src="https://avatars.githubusercontent.com/u/60197179?v=4&size=64" alt="Perfil">{{ user.username }}</span>
    </mat-card-actions>
  </mat-card>
</mat-card>
