.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

mat-icon {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 40px;
  font-size: 40px;
  height: 40px;
  width: 40px;
  color: #fff;
  cursor: pointer;
}

.card-container {
  width: 39%;
  height: 70vh;
  background-color: #1e1e1e;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 600px;
}

.profile {
  border-radius: 50%;
  width: 18%;
  margin-top: 20px;
}

.card-content {
  background-color: #343334;
  width: 100%;
  height: 55vh;
  margin-top: 40px;
}

b {
  color: #fff;
  font-size: 25px;
  margin-right: 10px;
}

p {
  color: #fff;
  font-size: 25px;
}


.custome-button {
  background-color: #31a2eb !important;
  color: #fff !important;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 4px;
  width: 100%;
  margin-bottom: 38px;
  transition: background-color 0.3s ease;
  margin-right: 10px;
}

.custome-button:hover {
  background-color: #0d2d4861;
}

.custome-button-red {
  background-color: #6d0c05 !important;
  color: #fff !important;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 4px;
  width: 100%;
  margin-bottom: 38px;
 margin-left: 10px;
  transition: background-color 0.3s ease;
}

.custome-button-red:hover {
  background-color: #eb4b40;
}

@media (max-width: 600px) {
  .card-container {
    width: 100%;
    height: 90vh;
    background-color: #1e1e1e;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 300px;
  }
  .card-content {
    background-color: #343334;
    width: 100%;
    height: 70vh;
    margin-top: 40px;
  }
  b {
    color: #fff;
    font-size: 12px;
    margin-right: 10px;
  }

  p {
    color: #fff;
    font-size: 12px;
  }

}
