
h1 {
    color: #24223f;
    margin-top: 24px;
}
.custom-mat-form-field{
    width: 70%;
}
.file-upload-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.file-upload-container {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .file-upload-container button {
    margin-right: 15px;
  }
  
  .modal-actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
  }

.custome-button {
    background-color: #31a2eb !important;
    color: #fff !important;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 4px;
    width: 70%;
    transition: background-color 0.3s ease;
  }
  
  .custome-button:hover {
    background-color: #0d2d4861;
  }

  .disabled{
    background-color: lightgray !important;
    color: #fff !important;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 4px;
    width: 70%;
    transition: background-color 0.3s ease;
  }
  
 /* Estilos para el canvas de la imagen */
canvas {
  display: block; /* Asegura que el canvas se comporte como un bloque */
  margin: auto; /* Centra el canvas horizontalmente */
  border: 1px solid #ccc; /* Borde del canvas para visualización */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Sombra ligera para resaltar */
  cursor: crosshair
}

/* Estilos para el área de recorte */
.crop-controls {
  margin-top: 10px; /* Espacio superior para los controles de recorte */
  text-align: center; /* Centra los botones de cancelar y finalizar */
}

.crop-controls button {
  margin: 0 10px; /* Margen entre los botones */
}

.canvas-cropping canvas {
  border-color: #007bff; /* Color del borde activo durante el recorte */
  box-shadow: 0 0 10px rgba(0, 123, 255, 0.3); /* Sombra más definida durante el recorte */
}
