.custome-form {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 90vh;
  }
  .custome-mat-grid-list {
    width: 30%;
    height: 55vh !important;
    background-color: #fff;
    border-radius: 10px;
    min-width: 500px;
    
  }
  mat-grid-tile {
    margin: 80px 0;
  }
  
  h1 {
    color: #24223f;
  }
   
  
  
  .custom-mat-form-field {
    width: 70%;
    margin: 0;
  }
  
  .custom-mat-input {
    width: 100%;
    height: 20%;
    font-size: 14px;
  }
  
.custome-button {
    background-color: #31a2eb !important;
    color: #fff !important;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 4px;
    width: 70%;
    margin-bottom: 32px;
    transition: background-color 0.3s ease;
  }
  
  .custome-button:hover {
    background-color: #0d2d4861;
  }
  
  mat-chip{
    position: relative;
    bottom: 30px;
  }
  a{
    margin-left: 60%;
    margin-bottom: 30px;
  }

  
  @media (max-width: 600px) {
    .custome-mat-grid-list {
      width: 100%;
      height: 100vh !important;
      background-color: #fff;
      border-radius: 10px;
      display:flex;
      align-items: center;
      justify-content: center;
      min-width: 300px;
      
    }

    mat-grid-tile {
      margin: 50% 0;
    }

    mat-chip{
      position: relative;
      bottom: 30px;
    }
  }