<div class="container">
  <div class="nav">
    <img (click)="navigateProfile()" class="profile" src="https://avatars.githubusercontent.com/u/60197179?v=4&size=64"/>
    <mat-card-title (click)="navigateProfile()" class="user-profile">{{userName}}</mat-card-title>
    <mat-icon (click)="logOut()" class="logout">logout</mat-icon>
  </div>
  <mat-grid-list [cols]="cols" [rowHeight]="height" gutterSize="16px">
    <mat-grid-tile>
      <mat-card class="task-card">
        <mat-card-header>
          <mat-card-title>Pendientes</mat-card-title>
          <app-new-task ></app-new-task>
        </mat-card-header>
        <mat-card-content>
          <app-task-list status="Pendiente" [pendingTasks]="pendingTasks" (taskDropped)="changeTaskStatus($event)"></app-task-list>            
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="task-card">
        <mat-card-header>
          <mat-card-title>En progreso</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <app-task-list status="En progreso" [inProgressTasks]="inProgressTasks" (taskDropped)="changeTaskStatus($event)"></app-task-list>            
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="task-card">
        <mat-card-header>
          <mat-card-title>Completadas</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <app-task-list status="Completada" [completedTasks]="completedTasks" (taskDropped)="changeTaskStatus($event)"></app-task-list>            
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>