.container {
    height: calc(100vh - 100px);
  }
  .profile{
    height: 40px;
    width: 40px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    cursor: pointer;
  }
  .user-profile{
    color: #fff;
    font-size: 20px;
    position: absolute;
    top: 25px;
    left: 70px;
    cursor: pointer;
  }
  mat-grid-list {
    height: 100%;
    min-width: 300px;
    margin-top: 5px;
  }
  
  mat-grid-tile {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  
  
  .task-card {
    width: 100%;
    height: 100%;
    opacity: 1;
    background-color: #1e1e1e;
    overflow: hidden;
  }
  
  mat-card-content{
    background-color: #343334;
    margin-top: 40px;
    height: 80%;
    overflow: auto;    
  }

  ::ng-deep ::-webkit-scrollbar {
    display: none !important;
  }

  mat-card-title{
    color: #fff;
  }

  .nav{
    width: 100%;
    height: 70px;
  }

  mat-icon{
    position: absolute;
right: 15px;    color: #fff;
font-size: 40px;
height: 40px;
width: 40px;
top: 20px;
cursor: pointer;
  }
 